<div class="container" *ngIf="items">
  <h4 class="page-min-head">Добавление и редактирование новостей</h4>
  <div class="form-group">
    <label>Выберите новость</label>
    <prog-select [items]="items" (change)="setForm($event)"></prog-select>
  </div>
  <form [formGroup]="addForm" class="border border-primary p-5">
    <div class="form-group">
      <label [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Заголовок</label>
      <input [ngClass]="{'border-danger':(submitted && f.Name.errors)}" formControlName="Name" class="form-control" type="text" >
    </div>
    <div class="form-group d-flex flex-column align-items-start">
      <div>
        <label [ngClass]="{'text-danger':(submitted && f.Image.errors)}">Изображение</label>
        <span *ngIf="addForm.get('Image').valid" class="ml-2 btn-link" (click)="addImage()" style="cursor:pointer">Добавить</span>
      </div>
      <div class="d-flex flex-wrap">
        <div *ngFor="let img of this.addForm.get('Image').controls; let i = index;">
          <document (removeImg)="removeImg(i)" [showImage]="!img.value?.name" [type]="'img'" [href]="img.value?.name || img.value"></document>
          <prog-file-input [formControl]="img"></prog-file-input>
        </div>
      </div>
      <small  class="form-text text-danger" *ngIf="submitted && f.Image.errors && f.Image.errors.filename">Файл с расширением .png или .jpg</small>
    </div>
    <div class="form-group">
        <label  [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Описание</label>
        <ckeditor [editor]="Editor" [formControl]="addForm.controls['Description']" [config]="config"  (ready)="onReady($event)"></ckeditor>
        <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors">Введите описание</small>
    </div>
    <button [disabled]="addForm.invalid" class="btn btn-primary" *ngIf="!item || upd_length" (click)="save()">Сохранить</button>
    <button class="btn btn-link" *ngIf="item" (click)="clear()">Очистить</button>
    <button class="btn btn-link text-danger" *ngIf="item" (click)="remove()">Удалить</button>
  </form>
</div>