<form class="form my-3 py-3 px-3" [formGroup]="contactForm" (click)="sucChange()">
  <div *ngIf="success" class="alert alert-success">Ваше сообщение отправлено!</div>
  <div class="form-group">
    <label for="InputName" [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Имя</label>
    <input [ngClass]="{'border-danger':(submitted && f.Name.errors)}" formControlName="Name" type="text" class="form-control" id="InputName" placeholder="Ваше имя">
    <small  class="form-text text-danger" *ngIf="submitted && f.Name.errors && f.Name.errors.required">Введите Ваше имя</small>
  </div>
  <div class="form-group">
    <label for="InputPhone" [ngClass]="{'text-danger':(submitted && f.Phone.errors)}">Телефон</label>
    <input type="tel" [ngClass]="{'border-danger':(submitted && f.Phone.errors)}" formControlName="Phone" class="form-control" id="InputPhone" placeholder="Ваш телефон">
    <small class="form-text text-danger" *ngIf="submitted && f.Phone.errors && f.Phone.errors.pattern">Некорректный телефон</small>
  </div>
  <div class="form-group">
    <label for="InputEmail" [ngClass]="{'text-danger':(submitted && f.Email.errors)}">Email</label>
    <input type="email" [ngClass]="{'border-danger':(submitted && f.Email.errors)}" formControlName="Email" class="form-control" id="InputEmail" placeholder="Ваш Email">
    <small class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.required">Введите Ваш Email</small>
    <small class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.email">Некорректный Email</small>
  </div>
  <div class="form-group">
    <label for="InputMessage" [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Сообщение</label>
    <textarea rows="5" [ngClass]="{'border-danger':(submitted && f.Description.errors)}" formControlName="Description" class="form-control" id="InputMessage" placeholder="Ваше сообщение"></textarea>
    <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors && f.Description.errors.required">Введите сообщение</small>
  </div>
  <button type="submit" class="btn btn-primary" (click)="send()">Отправить</button>
</form>