<form class="form my-3 py-3 px-3" [formGroup]="contactForm" (click)="sucChange()">
  <div *ngIf="success" class="alert alert-success">Ваше сообщение отправлено!</div>
  <div class="d-flex justify-content-center align-items-center pb-3" style="font-size: 16pt"><b>Свяжитесь с нами!</b></div>
  <div class="form-group">
    <div class="form-control nl" [ngClass]="{'foc':(this.contactForm.value.Name), 'border-danger':(submitted && f.Name.errors)}">
      <input formControlName="Name" type="text" id="InputName" placeholder="Ваше имя*">
      <label for="InputName" [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Имя*</label>
    </div>
    <small  class="form-text text-danger" *ngIf="submitted && f.Name.errors && f.Name.errors.required">Введите Ваше имя</small>
  </div>
  <div class="form-group">
    <div class="form-control nl" [ngClass]="{'foc':(this.contactForm.value.Phone), 'border-danger':(submitted && f.Phone.errors)}">
      <input type="tel" formControlName="Phone" id="InputPhone" placeholder="Ваш телефон">
      <label for="InputPhone" [ngClass]="{'text-danger':(submitted && f.Phone.errors)}">Телефон</label>
    </div>
    <small class="form-text text-danger" *ngIf="submitted && f.Phone.errors && f.Phone.errors.pattern">Некорректный телефон</small>
  </div>
  <div class="form-group">
    <div class="form-control nl" [ngClass]="{'foc':(this.contactForm.value.Email), 'border-danger':(submitted && f.Email.errors)}">
      <input type="email" formControlName="Email" id="InputEmail" placeholder="Ваш Email*">
      <label for="InputEmail" [ngClass]="{'text-danger':(submitted && f.Email.errors)}">Email*</label>
    </div>
    <small class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.required">Введите Ваш Email</small>
    <small class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.email">Некорректный Email</small>
  </div>
  <div class="form-group">
      <div class="form-control nl" [ngClass]="{'foc':(this.contactForm.value.Topic!=''), 'border-danger':(submitted && this.contactForm.value.Topic=='')}">
        <div class="ls" (click)="topic.focus()">Тема сообщения*</div>
        <select id="exampleFormControlSelect1" formControlName="Topic" #topic>
          <option *ngFor="let t of topics, let i=index" value="{{t}}">{{t}}</option>
        </select>
        <label for="exampleFormControlSelect1">Тема сообщения*</label>
      </div>
      <small class="form-text text-danger" *ngIf="submitted && this.contactForm.value.Topic==''">Выберите тему сообщения</small>
  </div>
  <div class="form-group">
    <div class="form-control nl" [ngClass]="{'foc':(this.contactForm.value.Description), 'border-danger':(submitted && f.Description.errors)}" style="height: 150px">
      <textarea rows="5" formControlName="Description" id="InputMessage" placeholder="Ваше сообщение*"></textarea>
      <label for="InputMessage" [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Сообщение*</label>
    </div>
    <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors && f.Description.errors.required">Введите сообщение</small>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" formControlName="Policy" class="form-check-input" value="" id="defaultCheck1">
    <label for="defaultCheck1" class="form-check-label">Я согласен(-на) с <a href="http://vdknf.ru/water/Docs/conf.pdf" target="_blank">политикой конфиденциальности</a></label>
    <small class="form-text text-danger" *ngIf="submitted && f.Policy.errors">Вы должны согласиться с политикой конфиденциальности</small>
  </div>
  <button type="submit" class="btn btn-primary" (click)="send()">Отправить</button>
</form>

<!-- [ngClass]="{'border-danger':(submitted && f.Name.errors)}" -->