@import "../../colors.less";
.form{
    width: 300px;
    border: 5px solid @dark-blue;
    margin: 0 5px;
    input, textarea, select{
        border-radius: 10px;
        background-color: @form-gray;
        &:focus{
            &::placeholder{
                color: @form-gray;
            }
        }
        &::placeholder{
            color: @form-text;
        }
    }
    select{
        color: @form-text;
    }
    .btn{
        width: 100%;
        background-color: rgb(198, 35, 20);
    }
}