@import "../../colors.less";
.footer{
    background-image: url(../../assets/images/main-page/footer-image.png);
    background-position: center;
    background-size: cover;
    height: 150px;
}
.footInf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
    margin: 0 30px;
    a{
        color: white;
    }
}
.footBut{
    margin: 0 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
        color: white;
        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
        &:focus{
            outline: none;
        }
    }
}
.ARR{
    padding: 10px;
    text-align: center;
    a{
        color: red;
        &:hover{
            color: @dark-blue;
        }
        &:active{
            color: @light-blue;
        }
        &:visited{
            color: red;
        }
    }
}

@media(max-width:768px){
    .footer{
        height: auto;
        padding: 30px;
        text-shadow: 0 0 20px black;
        position: relative;
        &>.container{
            position: relative;
            z-index: 10;
        }
        .footInf{
            margin: 0;
            margin-bottom: 20px;
            margin-right: 20px;
        }
        .footBut{
            margin: 0;
        }

        &::after{
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: calc(100% + 60px);
            height: 100%;
            background-color: rgba(0, 0, 0, 0.336);
        }
    }
}