<div class="container-fluid footer d-flex align-items-center">
  <div class="container d-flex py-0 my-0">
    <div class="footInf">
      МУП ВОДОКАНАЛ &copy; 2017<br>
      Диспетческая служба<br>
      <a href="tel:+74963436689" target="_blank">+7(496)343-66-89</a>
      <a href="https://yandex.ru/maps/?um=constructor%3A80aba378e57279e96948c75cfa2dee0a237eb3f32060198d8bfb92cf5e219e2e&source=constructorLink" target="_blank">
        г. Наро-Фоминск,<br>
        ул. Московская, д.11
      </a>
    </div>
    <div class="footBut">
      <div routerLink="">ГЛАВНАЯ</div>
      <div routerLink="/about">О НАС</div>
      <div routerLink="/services">УСЛУГИ</div>
      <div routerLink="/full-info">ИНФОРМАЦИЯ</div>
      <div routerLink="/contacts">КОНТАКТЫ</div>
    </div>
  </div>
</div>
<div class="ARR">
  All Rights Reserved | 2019 | Designed with love by <a href="http://www.progoff.ru" target="_blank">Progoff</a>
</div>