.docsText{
    font-size: 20pt;
    padding-bottom: 30px;
}
.docs{
    margin: 0px 30px;
    div{
        margin: 30px;
        display: flex;
        img{
            width: 70px;
            height: 70px;
        }
        a{
            text-align: center;
            margin: 10px;
        }
    }
}