<div class="d-flex">
  <div class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" *ngFor="let new of news; let i = index;" [attr.data-slide-to]="i" [ngClass]="{'active':i==0}"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" [ngClass]="{'active':i==0}" *ngFor="let new of news; let i = index">
          <img src="{{new.Image}}" class="w-100">
        </div>
      </div>
    </div>
  </div>
  <div class="news-titles d-flex flex-column align-items-start justify-content-start">
    <div *ngFor="let new of news; let i = index">{{new.CreateDate}}<a href="#">{{new.Name}}</a></div>
  </div>
</div>