<div class="container">
  <h3 class="page-head">О компании</h3>
</div>
<div class="container-fluid d-flex flex-column welcome">
  <div class="d-flex flex-column align-items-center container welcon">
    <div class="d-flex w-100">
      <i><b>Добро пожаловать в</b>&nbsp;<a href="#">МУП Водоканал го. Наро-Фоминск!</a></i>
    </div>
    <div class="d-flex w-100">
      МУП «Водоканал» Наро-Фоминского городского округа образовано в 1992 году в результате реорганизации 
      ПТО ГХ города Наро-Фоминск. Посмотрите информацию о нас.
    </div>
  </div>
</div>
<div class="container">
  <div class="flex-container my-5">
    <div class="user-card">
      <div class="rounded-circle p-2" style="overflow:hidden">
        <img src="../../assets/images/person.png" alt="">
      </div>
      <p>Директор предприятия –<br>
        <b>Имнадзе Валерий Важович</b></p>
    </div>
    <div class="user-card">
      <div class="rounded-circle p-2" style="overflow:hidden">
        <img src="../../assets/images/person.png" alt="">
      </div>
      <p>Исполнительный директор –<br>
        <b>Якин Александр Петрович</b></p>
    </div>
    <div class="user-card">
      <div class="rounded-circle p-2" style="overflow:hidden">
        <img src="../../assets/images/person.png" alt="">
      </div>
      <p>Численность штатного персонала – <br><b>912 человек.</b>
       </p>
    </div>
  </div>
  <h4 class="page-min-head">Основные виды деятельности:</h4>
  <div class="flex-container my-5 services">
    <div class="d-flex align-items-center flex-column">
      <div class="rounded-circle border border-primary service">
        <img src="../../assets/images/main-page/cran.png" alt="">
      </div>
      <p class="text-center">ВОДОСНАБЖЕНИЕ И ВОДООТВЕДЕНИЕ</p>
    </div>
    <div class="d-flex align-items-center flex-column">
      <div class="rounded-circle border border-primary service">
        <img src="../../assets/images/main-page/kist.png" alt="">
      </div>
      <p class="text-center">ВЫВОЗ СТОЧНЫХ ВОД</p>
    </div>
    <div class="d-flex align-items-center flex-column">
      <div class="rounded-circle border border-primary service">
        <img src="../../assets/images/main-page/tube.png" alt="">
      </div>
      <p class="text-center">ПРОКЛАДКА НАРУЖНЫХ СЕТЕЙ ВОДОСНАБЖЕНИЯ И ВОДООТВЕДЕНИЯ</p>
    </div>
    
  </div>
</div>
<div class="container-fluid d-flex flex-column welcome">
  <div class="d-flex flex-column justify-content-center container welcon">
    <div>
        В качестве источника воды для хозяйственно-бытового водоснабжения используются подземные водозаборы Подольско-Мячковского, Окско-Каширского, Алексинского водоносных горизонтов.
    </div>
  </div>
</div>
<div class="container">
  <span class="attention">
    <h4 class="attention-content">
        ЭТО ОДНО ИЗ КРУПНЕЙШИХ ПРЕДПРИЯТИЙ ПОДОБНОГО ПРОФИЛЯ В ПОДМОСКОВЬЕ.
    </h4>
  </span>
  <h4 class="page-min-head">В его состав входят:</h4>
  <div class="includes">
    <div class="my-3 d-flex align-items-center flex-column">
      <img src="../../assets/images/house.png" alt="">
      <p>административно-производственная база</p>
    </div>
    <div class="flex-container justify-content-between">
      <div class="d-flex flex-column" style="width: 40%;">
        <div class="item">
          <img src="../../assets/images/wash.png" alt="">
          <p> <b class="text-danger">16</b> комплексов очистных сооружений канализации</p>
        </div>
        <div class="item">
          <img src="../../assets/images/filtr.png" alt="">
          <p> <b class="text-danger">129</b> артезианских скважин</p>
        </div>
        <div class="item">
          <img src="../../assets/images/kran.png" alt="">
          <p> <b class="text-danger">7</b> водопроводных насосных станций</p>
        </div>
      </div>
      <div class="d-flex flex-column" style="width: 40%;">
        <div class="item">
          <img src="../../assets/images/nasos.png" alt="">
          <p> <b class="text-danger">45</b> канализационных насосных станций</p>
        </div>
        <div class="item">
          <img src="../../assets/images/cleaning.png" alt="">
          <p> <b class="text-danger">58</b> водозаборных узлов</p>
        </div>
        <div class="item">
          <img src="../../assets/images/waves.png" alt="">
          <p>водопроводных сетей -  <b class="text-danger">320 км</b> <br>
              канализационных -  <b class="text-danger">250 км</b></p>
        </div>
      </div>
    </div>
  </div>
  <p>Основной офис находится по адресу: <b class="text-primary-dark"> МО, город Наро-Фоминск, улица Московская, дом 11.</b></p>
  
</div>

