@import '../../colors.less';
.form-group-container{
    display: flex;
    justify-content: space-between;

    .form-group{
        margin-top: 1rem;

        label{
            display: block;
        }
    }
}

table.prices{
    width: 100%;

    thead{
        border-bottom: 2px solid @dark-blue;
    }
    td{
        padding: 5px 10px;
    }

    tr{
        cursor: pointer;
        &:hover, &.active{
            box-shadow: 0 0 2px #00173c inset;
        }
        &:nth-child(2n){
            background-color: @form-gray;
        }
        &:first-child{
            margin-top: 6px;
        }
    }
}