@import "../reference-book/reference-book.component.less";

.flex-container{
    align-items: flex-start;
}
.image{
    height: auto !important;
    padding: 5px !important ;
    &:hover{
        padding: 8px;
    }
}

.con{
    background-color: white;
    &>div{
        display: flex;
        width: 100%;
        min-height: 50px;
        padding: 5px 10px;
        font-size: 15px;
        i{
            display: flex;
            justify-content: center;
            font-size: 20px;
            min-width: 20px;
        }
        &>:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
        }
    }
    .head{
        justify-content: center;
        line-height: 22px;
        height: 70px;
        font-size: 18px;
        color: @red;
    }
    .time{
        justify-content: center;
        font-size: 10pt;
        color: gray;
    }
}
iframe{
    margin: 50px 0;
}

@media(max-width:768px){
    .flex-container{
        justify-content: center;
    }
    .item{
        width: 300px !important;
        max-width: 300px;
        .image{
            
            height: auto !important;
        }
    }
    
}