<div class="container">
  <h3 class="page-head">Контакты</h3>
  <div class="flex-container">
    <div class="d-flex justify-content-center justify-content-sm-start">
      <feedback></feedback>
    </div>
    <div class="d-flex flex-column my-3 mx-3 faq" *ngIf="faq.length>0">
      <div class="d-flex flex-wrap justify-content-between">
        <h4 class="page-min-head">Часто задаваемые вопросы</h4>
        <b class="text-primary" style="font-style: normal;"><a routerLink="/faq">Смотреть все</a></b>
      </div>
      <div class="section" *ngFor="let q of faq, let i=index">
        <div class="section-header" (click)="show(i)"><span>{{q.Name}}</span><i class="fas fa-caret-down"></i></div>
        <div class="section-body" *ngIf="this.shows[i]" [innerHTML]="q.Description"></div>
      </div>
    </div>
  </div>
  <div class="flex-container">
    <div *ngFor="let con of contacts, let i=index" class="item">
      <div class="image">
        <div class="con">
          <div *ngIf='con.Head' class="head">{{con.Head}}</div>
          <div *ngIf='con.Tel'>
            <div><i class="fas fa-phone"></i></div>
            <div>
              <div *ngFor="let tel of con.Tel, let i=index"><a href="{{getTel(tel)}}">{{tel}}</a></div>
            </div>
          </div>
          <div *ngIf="con.Email && con.Email.length>0">
            <div><i class="fas fa-envelope"></i></div>
            <div>
              <div *ngFor="let e of con.Email, let i=index"><a href="mailto:{{e}}">{{e}}</a></div>
            </div>
            
          </div>
          <div *ngIf="con.Address && con.Address.length>0">
            <div><i class="fas fa-map-marker-alt"></i></div>
            <div>
              <div  *ngFor="let a of con.Address, let i=index">{{a}}</div>
            </div>
            
          </div>
          <div *ngIf='con.Time' class="time">({{con.Time}})</div>
          <div *ngIf='con.Boss'>{{con.Boss}}</div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<div >
  <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa33ca3cf2370445c1193fd0e32e1a7cc255def6c2054b8a05536e830b9b15ff8&amp;source=constructor" width="100%" height="506" frameborder="0"></iframe>
</div>