<div class="section" *ngFor="let rate of items">
  <div class="section-header" (click)="show(rate.Id)"><span>{{rate.Search}}</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows[rate.Id]">
    <ul class="squared-list space-li" style="padding-left:20px;">
      <li><span>Подготовки разрешения на подключение жилого дома в частном секторе к сетям ВиВ;</span></li>
      <li><span>Предоставления информации о плате за подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее не подключенного объекта);</span></li>
      <li><span>Заключения договора на подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее не подключенного объекта);</span></li>
      <li><span>Подготовки технических условий на подключение к сетям ВиВ в городской/ благоустроенной застройке (для реконструируемого без увеличения нагрузок объекта);</span></li>
      <li><span>Согласования проекта/проекта производства работ;</span></li>
      <li><span>Согласования размещения объекта.</span></li>
    </ul>
    <p><i>Вам необходимо обратиться в <b class="text-primary" style="font-style: normal;"><a routerLink="/contacts">ПТО</a></b>(производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
