

<div class="container">
  <h4 class="page-min-head">Добавление и редактирование FAQ</h4>
  
  <div class="border border-primary p-5">
    <form [formGroup]="newForm">
        <h5  style="font-weight:400">Добавление FAQ</h5>
        <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Вопрос</label>
            <input [ngClass]="{'border-danger':(submitted && f.Name.errors)}" formControlName="Name" class="form-control"  placeholder="Вопрос">
            <small  class="form-text text-danger" *ngIf="submitted && f.Name.errors && f.Name.errors.required">Введите вопрос</small>
        </div>
        <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Описание</label>
            <textarea formControlName="Description" [ngClass]="{'border-danger':(submitted && f.Description.errors)}" class="form-control"  placeholder="Описание" rows="3"></textarea>
            <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors">Введите описание</small>
        </div>
        <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Ответ</label>
            <div simditor ng-model="xxx"></div>
            <ckeditor [editor]="Editor" [formControl]="newForm.controls['Description']" [config]="config"  (ready)="onReady($event)"></ckeditor>
            <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors">Введите ответ</small>
        </div>
        <button type="submit" class="btn btn-primary" (click)="add()">Добавить</button>
    </form>
  </div>
  
  <div class="news">
      <div class="section" *ngFor="let new of faqs">
          <div class="section-header" (click)="show(new.Id+'new')"><span>{{new.Name}}</span><span>{{new.CreateDate | date:"dd.MM.yyy"}}<i class="fas ml-1" [ngClass]="{'fa-caret-down':!shows[new.Id+'new'], 'fa-caret-up':shows[new.Id+'new']}"></i></span></div>
          <div class="section-body pt-3" *ngIf="shows[new.Id+'new']">
              <div class="form-group">
                  <div class="d-flex justify-content-between">
                      <label for="head" [ngClass]="{'text-danger':new.Name == ''}">Заголовок</label>
                      <button class="btn btn-link text-danger" (click)="remove(new.Id)">Удалить</button>
                  </div>
                  
                  <input [ngClass]="{'border-danger':new.Name == ''}" class="form-control" type="text" [(ngModel)]="new.Name" (keydown)="checkChange()">
                  <small class="text-danger" *ngIf="new.Name == ''">Введите заголовок</small>
              </div>
              <div class="form-group">
                  <label for="head" [ngClass]="{'text-danger':new.Description == ''}">Описание</label>
                  <textarea [ngClass]="{'border-danger':new.Description == ''}" class="form-control" [(ngModel)]="new.Description" rows="5" (keydown)="checkChange()"></textarea>
                  <ckeditor (keydown)="checkChange()" [editor]="Editor" [(ngModel)]="new.Description" [config]="config"  (ready)="onReady($event)"></ckeditor>
                  <small class="text-danger" *ngIf="new.Description == ''">Введите описание</small>
              </div>
              
              <button *ngIf="showBtn" class="btn btn-primary" [disabled]="!checkNew(new)" (click)="save(new)">Сохранить</button>
          </div>
      </div>
  </div> 
</div>


