@import "../../colors.less";
.tube{
    display: flex;
    padding: 0;
    margin: 25px 0;
    &>div{
        display: flex;
        align-items: center;
        height: 100px;
        position: relative;
        &:nth-child(1){
            width: 15%;
            background: @tube-blue;
            &::after{
                background: @tube-blue;
                display: block;
                position: absolute;
                content: "";
                right: 0;
                height: 150px;
                width: 35px;
            }
        }
        &:nth-child(2){
            padding: 0 35px;
            width: 70%;
            margin: 0 10px;
            background: @tube-blue;
            &::before{
                background: @tube-blue;
                display: block;
                position: absolute;
                content: "";
                left: 0;
                height: 150px;
                width: 35px;
            }
            &::after{
                background: @tube-blue;
                display: block;
                position: absolute;
                content: "";
                right: 0;
                height: 150px;
                width: 35px;
            }
            display: flex;
            justify-content: center;
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                color: white;
                height: 100%;
                min-width: 100px;
                width: 130px;
                &.active, &:hover, &:focus{
                    cursor: pointer;
                    background-color: @darker-blue;
                    outline: none;
                }
                i{
                    font-size: 30px;
                    margin-bottom: 5px;
                }
            }
            :nth-child(3){
                position: relative;
                &:hover{
                    .list{
                        display: flex;
                        flex-direction: column;
                    }
                }
                .servb{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    color: white;
                    height: 100%;
                    min-width: 100px;
                    width: 130px;
                    &.active, &:focus{
                        background-color: @darker-blue;
                        outline: none;
                    }
                }
                .list{
                    &:hover{
                        display: flex;
                        flex-direction: column;
                    }
                    position: absolute;
                    display: none;
                    background-color: @dark-blue;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    width: 130px;
                    height: 100px;
                    top: 100%;
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 50%;
                        width: 100%;
                        padding: 5px 5px;
                        &:hover, &.active, &:focus{
                            cursor: pointer;
                            background-color: @darker-blue;
                            outline: none;
                        }
                    }
                }
            }
        }
        &:nth-child(3){
            width: 15%;
            background: @tube-blue;
            &::before{
                background: @tube-blue;
                display: block;
                position: absolute;
                content: "";
                left: 0;
                height: 150px;
                width: 35px;
            }
        }
    }
}