<div class="container-fluid">
  <div class="container d-flex menu">
    <img src="../../assets/images/logo-new.png" alt="">
    <div class="h-100 d-flex flex-column justify-content-between">
      <div class="d-flex align-items-center justify-content-between ">
        <a href="tel:+74963436689">+7(496)343-66-89</a>
        <fieldset class="d-flex">
            <input type="text" class="form-control" placeholder="Поиск по сайту">
            <button class="btn"><i class="fas fa-search" aria-hidden="true"></i></button>
        </fieldset>
        
      </div>
      <div class="items">
        <div class="item">О компании</div>
        <div class="item">Частным лицам</div>
        <div class="item">Организациям</div>
        <div class="item">Информация</div>
        <div class="item">Контакты</div>
      </div>
      
    </div>
    
  </div>
</div>
