<h4 class="page-min-head">Информация для частных лиц</h4>
<ul class="image-list my-4">
  <div><i style="background-image: url(../../assets/images/pdf.png)"></i><span><b class="text-primary-dark">Бланк квитанции</b>, для оплаты услуг водоснабжения и водоотведения (для домовладений, оснащенных приборами учета) - <b class="text-primary"><a href="http://vdknf.ru/water/Docs/info-clients/ticket.pdf" target="_blank">СКАЧАТЬ ЗДЕСЬ</a></b></span></div>
</ul>
<h5>Уважаемые собственники и наниматели жилых и нежилых помещений!</h5>
<p>МУП «Водоканал с 01.09.2018г. коммунальные услуги по водоснабжению и водоотведению будет предоставлять в рамках прямых договоров в соответствии с Федеральным законом от 03.04.2018 N59-ФЗ "О внесении изменений в Жилищный кодекс Российской Федерации».</p>
<ul class="image-list my-4">
  <div><i style="background-image: url(../../assets/images/pdf.png)"></i><span>СПИСОК ДОМОВ, ПЕРЕШЕДШИХ НА ПРЯМЫЕ ДОГОВОРЫ, МОЖНО <b class="text-primary"><a href="http://vdknf.ru/water/Docs/info-clients/MKD.xlsx" target="_blank">СКАЧАТЬ ЗДЕСЬ</a></b></span></div>
</ul>
<div class="full-width">
  <b><i class="text-primary">При возникновении вопросов обращаться:<br>
  МУП "Водоканал" г. Наро-Фоминск, ул. Московская, д. 11, <br>
тел. +7 (495) 343-34-74</i></b>
</div>
<h5 class="mt-4">МУП "Водоканал" предоставляет ресурсы холодного водоснабжения и водоотведения для жителей:</h5>
<ul class="image-list-num" >
  <div><i></i><span>Многоквартирных домов с формой правления "Непосредственно собственниками";</span></div>
  <div><i></i><span>Жителям частных домов, система водоснабжения и/или водоотведения которых подключена к сетям МУП "Водоканал"</span></div>
  
  <span class="attention my-5">
    <h4 class="attention-content">
      ПРИ УПРАВЛЕНИИ МНОГОКВАРТИРНЫМ ДОМОМ УПРАВЛЯЮЩЕЙ КОМПАНИЕЙ <b class="text-primary-dark" style="text-transform: initial">( или ТСЖ)</b> <br>- ВАМ НЕОБХОДИМО ОБРАЩАТЬСЯ В СВОЮ УПРАВЛЯЮЩУЮ КОМПАНИЮ <b class="text-primary-dark" style="text-transform: initial">(или ТСЖ).</b>
    </h4>
  </span>
</ul>
<!-- <div class="item w-100" style="max-width: unset;">
  <div class="image" style="height:auto">
    <img src="../../assets/images/info-new.jpg">
  </div>
</div> -->
