<h4 class="page-min-head">Услуги для организаций</h4>
<div class="section">
  <div class="section-header" (click)="show('first')"><span>Подготовка технических условий и разрешений</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.first">
    <p>Для подготовки технических условий и разрешений, в том числе:</p>
    <ul class="squared-list space-li" style="padding-left:20px;">
      <li><span>Согласования проекта/проекта производства работ;</span></li>
      <li><span>Предоставления информации о плате за подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее 
          не подключенного объекта);</span></li>
      <li><span>Заключения договора на подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее 
          не подключенного объекта);</span></li>
      <li><span>Согласования размещения объекта;</span></li>
      <li><span>Подготовки технических условий на подключение к сетям ВиВ в городской/ благоустроенной застройке;</span></li>
    </ul>
    <p><i>Вам необходимо обратиться в <b class="text-primary-dark" style="font-style: normal;"><a routerLink="/contacts">ПТО</a></b>(производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('getRes')"><span>Заключение договора на отпуск питьевой воды и прием сточных вод</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.getRes">
    <p><i>Для заключения договора Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">АО</a></b>(абонентский отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section" >
  <div class="section-header" (click)="show('second')"><span>Отключение/подключение холодной воды при выполнении ремонтных работ</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.second">
    <p>Для отключения/подключения холодной воды при выполнении ремонтных работ Вам необходимо:</p>
    <ul class="image-list-num" >
      <div><i></i><span>Заключить договор и оплатить услугу по отключению/подключению к сетям водоснабжения (обратиться в <b class="text-danger"><a routerLink="/contacts">Диспетчерскую службу</a></b> МУП «Водоканал»)</span></div>
      <div><i></i><span>После оплаты/заключения договора диспетчер организует отключение/подключение на нужную Вам дату.</span></div>
      <div class="mt-5"><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary"><a href="http://vdknf.ru/water/Docs/services/kalkulaziya_22.pdf" target="_blank">КАЛЬКУЛЯЦИЮ</a></b></span></div>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('fourth')"><span>Для исследования питьевой воды:</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.fourth">
    <h5 class="my-2">Вам необходимо выполнить следующие шаги:</h5>
    <ol class="counter-list">
      <li>Обратиться в МУП «Водоканал»  по адресу:
        <p><small><i>г. Наро-Фоминск, ул. Профсоюзная, (АБК очистных сооружений канализации (в районе строения №42)), 3 этаж.</i></small></p>
        <p><small>лаборатория питьевой воды (<b><b><a href="http://vdknf.ru/water/Docs/services/akkreditatsii.pdf"  target="_blank">аттестат RU.0001.22ПВ61</a></b></b>), график работы:</small></p>
        <p><small><span class="text-danger">пн-чт</span> с 8-00 до 17-00 перерыв на обед с 12-00 до 12-45</small></p>
        <p><small><span class="text-danger">пт</span> с 8-00 до 15-45 перерыв на обед с 12-00 до 12-45 (телефон <b><a href="tel:+79295087149">+7-929-508-71-49</a></b>);</small></p>
      </li>
      <li>Ознакомиться с <b><a href="http://vdknf.ru/water/Docs/services/24_analizy.pdf"  target="_blank">прайс-листом</a></b> на оказание услуг по исследованию питьевой воды;</li>
      <li><b><a href="http://vdknf.ru/water/Docs/services/dlya_kliyentov_s_otborom_prob.doc"  target="_blank">Заполнить заявление (Бланк 1)</a></b>, где необходимо указать, кем будут отобраны пробы воды (лично или представителями МУП «Водоканал»)
        <p><small><i>Если пробы воды отобраны без участия представителей МУП «Водоканал», то Заказчику необходимо ознакомиться с <b><a href="http://vdknf.ru/water/Docs/services/otbora_prob_Zakazchikom.docx"  target="_blank">правилами отбора проб</a></b>.</i></small></p>
      </li>
      <li>Подписать <b><a href="http://vdknf.ru/water/Docs/services/VODA.zip"  target="_blank">договор</a></b> и получить счет на оплату услуг
        <p><small><i>Оплатить счет можно в кассе МУП «Водоканал», отделении «Сбербанк», ПАО «Возрождение», с помощью Сбербанк онлайн по реквизитам, указанным в счете;</i> </small></p>
      </li>
      <li>Оплатить счет и предоставить квитанцию об оплате;</li>
      <li>Договориться о времени и месте отбора проб (при условии отбора проб с представителями МУП «Водоканал») по адресу: г. Наро-Фоминск, ул. Профсоюзная, (АБК очистных сооружений канализации (в районе строения №42)), третий этаж, лаборатория питьевой воды или телефону: <b><a href="tel:+79295087149" target="_blank">+7-929-508-71-49</a></b>;</li>
      <li>Подписать акт отбора проб;</li>
      <li>После 15 рабочих дней с момента отбора проб обратиться в МУП «Водоканал» и получить <b><a href="http://vdknf.ru/water/Docs/services/protokol.xlsx"  target="_blank">протокол исследования воды</a></b>, счет-фактуру, подписать акт выполненных работ.</li>
    </ol>
  </div>
</div>
<div class="section" >
  <div class="section-header" (click)="show('sideWeb')"><span>Для подготовки ПРОЕКТОВ на наружные и внутренние сети водоснабжения и водоотведения</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.sideWeb">
    <p><i>Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
    <ul class="image-list mb-0" >
      <div><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary"><a href="http://vdknf.ru/water/Docs/services/21_project_doc.pdf" target="_blank">СТОИМОСТЬ ПРОЕКТНЫХ РАБОТ</a></b></span></div>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('third')"><span>Для согласования проектно-технической документации и топографических съемок Вам необходимо:  </span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.third">
    <ul class="image-list-num" >
      <div><i></i><span>Подать заявление на согласование (см. <a href="http://vdknf.ru/water/Docs/services/SOGLASOVANO.rar" target="_blank">Заявление</a>) в МУП «Водоканал» по адресу: г. Наро-Фоминск, ул. Московская, д.11-206 (второй этаж, приемная) с приложением карточки предприятия – для юридических лиц; паспорта – для физических лиц;</span></div>
      <div><i></i><span>После рассмотрения заявки с Вами свяжется специалист производственно-технического отдела, Вам необходимо будет получить договор на оказание услуг по согласованию и оплатить счет;</span></div>
      <small class="text-danger">Стоимость услуги по согласованию составляет 2 974,49 руб <span style="color: black">(согласно <b class="text-primary"><a href="http://vdknf.ru/water/Docs/services/kalkulaziya_19.pdf" target="_blank">Калькуляции</a></b>)</span></small>
      <small>Срок оказания услуги – 14 рабочих дней с момента оплаты.</small>
      <div><i></i><span>Подписать акт выполненных работ, забрать согласованную документацию и счет-фактуру в отделе <b class="text-danger"><a routerLink="/contacts">ПТО</a></b> (каб.201).</span></div>
      <small>Если у специалистов возникли замечания по проектно-технической документации, Вам необходимо устранить их и сдать документацию для повторного согласования, при этом <b class="text-primary">оплачивать услугу второй раз не требуется.</b></small>
      <span class="attention">
        <h4 class="attention-content">
          ДАННАЯ УСЛУГА НЕ РАСПРОСТРАНЯЕТСЯ НА СОГЛАСОВАНИЕ ПРОЕКТОВ СЕТЕЙ ВОДОСНАБЖЕНИЯ И ВОДООТВЕДЕНИЯ.
        </h4>
      </span>
      <div class="mt-5"><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary"><a href="http://vdknf.ru/water/Docs/services/SOGLASOVANO.rar" target="_blank">АЛГОРИТМ И ЗАЯВЛЕНИЕ на СОГЛАСОВАНИЕ</a></b></span></div>
    </ul>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('sixth')"><span>Для выполнения работ по ремонту и прокладке инженерных коммуникаций (наружных и внутренних сетей водоснабжения и водоотведения);</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.sixth">
    <p><i>Вам необходимо обратиться в <b class="text-primary-dark"> <a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('seventh')"><span>Для выполнения работ по присоединению абонентов к сетям МУП «Водоканал»;</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.seventh">
    <p><i>Вам необходимо обратиться в <b class="text-primary-dark"> <a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('eighth')"><span>Для устранения засоров трубопроводов диаметром от 100 до 400мм методом гидравлической промывки:</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.eighth">
    <p><i>Вам необходимо обратиться в <b class="text-primary-dark"> <a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('nineth')"><span>Подготовка справок / информации:</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.nineth">
    <p><i>Для заключения договора Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">АО</a></b> (абонентский отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('tenth')"><span>Установка станций водоподготовки для дополнительной очистки воды</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.tenth">
    <p><i>Для установки станций водоподготовки для дополнительной очистки воды Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('eleventh')"><span>Обслуживание локальных очистных сооружений  ("Танк", "Топаз" и т.д.)</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.eleventh">
    <p><i>Для обслуживания локальных очистных сооружений Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('twelveth')"><span>Осуществление ремонта насосного оборудования водозаборных узлов КНС</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.twelveth">
    <p><i>Для осуществления ремонта насосного оборудования водозаборных узлов КНС Вам необходимо обратиться в <b class="text-primary-dark"><a routerLink="/contacts">ПТО</a></b> (производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>