
<div class="container">
    <h3 class="page-head">Панель администратора</h3>
    <h4 class="page-min-head">Добавление и редактирование новостей</h4>
    <!-- <div class="d-flex align-items-start clients">
        <div class="menu">
            <div class="menu-item" [routerLinkActive]='["active"]' [routerLink]='["/clients"]' [routerLinkActiveOptions]='{ exact: true }' >
                Услуги
            </div>
            <div class="menu-item" [routerLinkActive]='["active"]' [routerLink]='["/clients/clients-rates"]' >
                Тарифы
            </div>
            <div class="menu-item" [routerLinkActive]='["active"]' [routerLink]='["/clients/clients-info"]' >
                Информация
            </div>
            <div class="menu-item" [routerLink]='["/ref-book"]'>
                Справочник<br>абонента
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div> -->
    <div class="news">
        <div class="section" *ngFor="let new of news">
            <div class="section-header" (click)="show(new.Id+'new')"><span>{{new.Name}}</span><span>{{new.CreateDate | date:"dd.MM.yyy"}}<i class="fas fa-caret-down ml-1"></i></span></div>
            <div class="section-body pt-3" *ngIf="shows[new.Id+'new']">
                <div class="form-group">
                    <label for="head">Заголовок</label>
                    <input class="form-control" type="text" [(ngModel)]="new.Name" (keydown)="checkChange()">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail13" class="w-100" [ngClass]="{'text-danger':(submitted && !image)}">Изображение</label>
                    <div class="d-flex align-items-start my-2">
                        <img *ngIf="!!new.Image" class="w-25" src="{{new.Image}}"><i *ngIf="!!new.Image" class="fa fa-times ml-1" aria-hidden="true" (click)="unloadLink(new) && checkChange()"></i>
                    </div>    
                    <p class="img-text" *ngIf="image"><span>{{image.name}}</span> <i class="fa fa-times ml-1" aria-hidden="true" (click)="unload()"></i> </p>
                    <input  type="file" (change)="putFile($event)"  style="display:none" #fileload>
                    <button *ngIf="!image && !new.Image" class="btn btn-link border-primary" (click)="fileload.click()">Загрузить картинку</button>
                    <small  class="form-text text-danger" *ngIf="submitted && !image">Добавьте изображение</small>
                    <small  class="form-text text-danger" *ngIf="invalidImage">Загрузите изображение .jpg</small>
                </div>
                <div class="form-group">
                    <label for="head">Описание</label>
                    <textarea class="form-control" [(ngModel)]="new.Description" rows="5" (keydown)="checkChange()"></textarea>
                </div>

                <button *ngIf="showBtn" class="btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
