

<div class="container">
        
    <h3 class="page-head">Панель администратора</h3>
    <div class="d-flex align-items-start clients">
        <div class="menu">
            <div class="menu-item" [routerLinkActive]='["active"]' [routerLink]='["/admin/admin-news"]' [routerLinkActiveOptions]='{ exact: true }' >
                Новости
            </div>
            <div class="menu-item" [routerLinkActive]='["active"]' [routerLink]='["/admin/admin-faq"]' >
                Частые вопросы
            </div>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


