/* You can add global styles to this file, and also import other style files */
*, *::after, *::before{
    box-sizing: border-box;
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}
body{
    margin: 0;
}

.btn{
    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
}