<h4 class="page-min-head">Услуги для частных лиц</h4>
<div class="section">
  <div class="section-header" (click)="show('first')"><span>Подготовка технических условий и разрешений</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.first">
    <ul class="squared-list space-li" style="padding-left:20px;">
      <li><span>Подготовки разрешения на подключение жилого дома в частном секторе к сетям ВиВ;</span></li>
      <li><span>Предоставления информации о плате за подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее не подключенного объекта);</span></li>
      <li><span>Заключения договора на подключение к сетям ВиВ (для строящегося, реконструируемого с увеличением нагрузок или построенного, но ранее не подключенного объекта);</span></li>
      <li><span>Подготовки технических условий на подключение к сетям ВиВ в городской/ благоустроенной застройке (для реконструируемого без увеличения нагрузок объекта);</span></li>
      <li><span>Согласования проекта/проекта производства работ;</span></li>
      <li><span>Согласования размещения объекта.</span></li>
    </ul>
    <p><i>Вам необходимо обратиться в <b class="text-primary" style="font-style: normal;">ПТО</b>(производственно-технический отдел) МУП «Водоканал»</i></p>
  </div>
</div>
<div class="full-width" *ngIf="this.shows.first">
  <h4 class="header-danger">ЗАКЛЮЧЕНИЕ ДОГОВОРА НА ПОСТАВКУ РЕСУРСА</h4>
  <p class="mt-0 mb-1">Для заключения договора на поставку ресурса Вам необходимо обратиться в <b class="text-danger">АО</b>(абонентский отдел) МУП «Водоканал»</p>
</div>
<div class="section" >
  <div class="section-header" (click)="show('second')"><span>Отключение/подключение холодной воды при выполнении ремонтных работ</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.second">
    <p>Для отключения/подключения холодной воды при выполнении ремонтных работ Вам необходимо:</p>
    <ul class="image-list-num" >
      <div><i></i><span>Заключить договор и оплатить услугу по отключению/подключению к сетям водоснабжения (обратиться в ДС(диспетчерскую службу) МУП «Водоканал»)</span></div>
      <div><i></i><span>После оплаты/заключения договора диспетчер организует отключение/подключение на нужную Вам дату.</span></div>
      <div class="mt-5"><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary">КАЛЬКУЛЯЦИЮ</b></span></div>
    </ul>
    
  </div>
</div>
<div class="full-width h-200" *ngIf="this.shows.second">
  <h4 class="header-danger">Для подготовки ПРОЕКТОВ на наружные и внутренние сети водоснабжения и водоотведения</h4>
  <p class="mt-0">Вам необходимо обратиться в <b class="text-danger"> ПТО</b> (производственно-технический отдел) МУП «Водоканал»</p>
  <ul class="image-list mb-0" >
    
    <div><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary">СТОИМОСТЬ ПРОЕКТНЫХ РАБОТ</b></span></div>
  </ul>
</div>
<div class="section">
  <div class="section-header" (click)="show('third')"><span>Для согласования проектно-технической документации и топографических съемок Вам необходимо:  </span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.third">
    <ul class="image-list-num" >
      <div><i></i><span>Подать заявление на согласование (см. Заявление) в МУП «Водоканал» по адресу: г. Наро-Фоминск, ул. Московская, д.11-206 (второй этаж, приемная) с приложением карточки предприятия – для юридических лиц; паспорта – для физических лиц;</span></div>
      <div><i></i><span>После рассмотрения заявки с Вами свяжется специалист производственно-технического отдела, Вам необходимо будет получить договор на оказание услуг по согласованию и оплатить счет;</span></div>
      <small class="text-danger">Стоимость услуги по согласованию составляет 2 974,49 руб <span style="color: black">(согласно <b class="text-primary">Калькуляции</b>)</span></small>
      <small>Срок оказания услуги – 14 рабочих дней с момента оплаты.</small>
      <div><i></i><span>Подписать акт выполненных работ, забрать согласованную документацию и счет-фактуру в отделе ПТО (каб.201).</span></div>
      <small>Если у специалистов возникли замечания по проектно-технической документации, Вам необходимо устранить их и сдать документацию для повторного согласования, при этом <b class="text-primary">оплачивать услугу второй раз не требуется.</b></small>
      <span class="attention">
        <h4 class="attention-content">
          ДАННАЯ УСЛУГА НЕ РАСПРОСТРАНЯЕТСЯ НА СОГЛАСОВАНИЕ ПРОЕКТОВ СЕТЕЙ ВОДОСНАБЖЕНИЯ И ВОДООТВЕДЕНИЯ.
        </h4>
      </span>
      <div class="mt-5"><i style="background-image: url(../../assets/images/pdf.png)"></i><span>ЗДЕСЬ МОЖНО СКАЧАТЬ И РАСПЕЧАТАТЬ <b class="text-primary">АЛГОРИТМ И ЗАЯВЛЕНИЕ на СОГЛАСОВАНИЕ</b></span></div>
    </ul>
    
  </div>
</div>
<div class="section">
  <div class="section-header" (click)="show('fourth')"><span>Для исследования питьевой воды:</span><i class="fas fa-caret-down"></i></div>
  <div class="section-body" *ngIf="this.shows.fourth">
    <h5 class="my-2">Вам необходимо выполнить следующие шаги:</h5>
    <ol>
      <li>Обратиться в МУП «Водоканал»  по адресу:
        <p><small><i>г. Наро-Фоминск, ул. Профсоюзная, (АБК очистных сооружений канализации (в районе строения №42)), 3 этаж.</i></small></p>
        <p><small>лаборатория питьевой воды (<b>аттестат RU.0001.22ПВ61</b>), график работы:</small></p>
        <p><small><span class="text-danger">пн-чт</span> с 8-00 до 17-00 перерыв на обед с 12-00 до 12-45</small></p>
        <p><small><span class="text-danger">пт</span> с 8-00 до 15-45 перерыв на обед с 12-00 до 12-45 (телефон +7-929-508-71-49);</small></p>
      </li>
      <li>Ознакомиться с прайс-листом на оказание услуг по исследованию питьевой воды;</li>
      <li><b>Заполнить заявление (Бланк 1)</b>, где необходимо указать, кем будут отобраны пробы воды (лично или представителями МУП «Водоканал»)
        <p><small><i>Если пробы воды отобраны без участия представителей МУП «Водоканал», то Заказчику необходимо ознакомиться с правилами отбора проб.</i></small></p>
      </li>
      <li>Подписать <b>договор</b> и получить счет на оплату услуг
        <p><small><i>Оплатить счет можно в кассе МУП «Водоканал», отделении «Сбербанк», ПАО «Возрождение», с помощью Сбербанк онлайн по реквизитам, указанным в счете;</i> </small></p>
      </li>
      <li>Оплатить счет и предоставить квитанцию об оплате;</li>
      <li>Договориться о времени и месте отбора проб (при условии отбора проб с представителями МУП «Водоканал») по адресу: г. Наро-Фоминск, ул. Профсоюзная, (АБК очистных сооружений канализации (в районе строения №42)), третий этаж, лаборатория питьевой воды или телефону: <b>+7-929-508-71-49</b>;</li>
      <li>Подписать акт отбора проб;</li>
      <li>После 15 рабочих дней с момента отбора проб обратиться в МУП «Водоканал» и получить <b>протокол исследования воды</b>, счет-фактуру, подписать акт выполненных работ.</li>
    </ol>
    
  </div>
  
</div>

