@import '../../colors.less';
a{
    color: @dark-blue;
}
.item{
    background-color: @dark-blue;
    padding: 0 10px 10px 10px;
    width: 40%;
    min-width: 250px;

    .header{
        line-height: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
    }
    .content{

        padding: 10px;
        background-color: #fff;

        .vac-toggle{
            cursor: pointer;
        }
    }
}