<div class="container">
    <h3 class="page-head">Вакансии</h3>
    <p class="phone"><i>Телефон отдела кадров:</i> <a class="ml-1" href="tel:+74963438782"><b>+7(496)343-87-82</b></a></p>
    <div class="flex-container">
      <div class="item" *ngFor="let vac of vacancies">
       <div class="header">Оператор котельной</div> 
       <div class="content">
         <div class="line">
           <p><b class="text-danger mr-1">График работы:</b>сменный. Рабочая смена 12 часов. Предусмотрены ночтые смены.
         </div>
       </div>
      </div>
    </div>
</div>