<div class="news-container d-flex justify-content-center align-items-stretch">
  <div class="but d-flex flex-column align-items-end justify-content-between">
    <div routerLink="/clients">Частным лицам</div>
    <div routerLink="/business">Организациям</div>
    <div routerLink="/ref-book">Справочник абонента</div>
    <a href="http://uk-gkh.org/vodokanal_narof/Account/Login.aspx" target="_blank">Личный кабинет</a>
  </div>
  <div style="width:65%">
    <news-main></news-main>
  </div>
</div>
<div class="container-fluid d-flex flex-column welcome">
  <div class="d-flex flex-column align-items-center container welcon">
    <div class="d-flex w-100">
      <i><b>Добро пожаловать в</b>&nbsp;<a href="#">МУП Водоканал го. Наро-Фоминск!</a></i>
    </div>
    <div class="d-flex w-100">
      МУП «Водоканал» Наро-Фоминского городского округа образовано в 1992 году в результате реорганизации 
      ПТО ГХ города Наро-Фоминск. Посмотрите информацию о нас.
    </div>
  </div>
</div>
<div class="container">
  <div class="ovdText"><b>ОСНОВНЫЕ ВИДЫ ДЕЯТЕЛЬНОСТИ</b></div>
  <div class="ovd d-flex flex-column align-items-center justify-content-center">
    <div>
      <div><img src="../../assets/images/main-page/cran.png"></div>
      <div><img src="../../assets/images/main-page/tube.png"></div>
      <div><img src="../../assets/images/main-page/kist.png"></div>
    </div>
    <div>
      <div>ВОДОСНАБЖЕНИЕ ПИТЬЕВОЙ И ТЕХНИЧЕСКОЙ ВОДОЙ</div>
      <div>ВОДООТВЕДЕНИЕ</div>
      <div>ОЧИСТКА СТОКОВ ЖИЛОГО СЕКТОРА</div>
    </div>
  </div>
  <div class="sponsText"><b>НАШИ ПАРТНЕРЫ</b></div>
  <div class="container conspon">
    <div class="spons d-flex">
      <a href="http://nfreg.ru/" target="_blank">
        <div class="d-flex align-items-center w-100">
          <img src="../../assets/images/nfreg.png">
          <div class="anf">Администрация Наро-фоминского городского округа Комитет ЖКХ Наро-фоминского городского округа</div>
        </div>
      </a>
      <a href="https://www.vbank.ru/" target="_blank"><img src="../../assets/images/vbank.png"></a>
      <a href="http://arki.mosreg.ru/" target="_blank"><img src="../../assets/images/arki.png"></a>
      <a href="http://citycom.ru/" target="_blank"><img src="../../assets/images/citycom.png"></a>
    </div>
  </div>
  <div style="padding: 30px">
    <docs-main></docs-main>
  </div>
</div>