.news-container{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 30px;
    .but{
        width: 35%;
        padding-right: 20px;
        div, a{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 10px;
            width: 180px;
            height: 70px;
            color: white;
            &:hover{
                cursor: pointer;
                text-decoration: none;
            }
        }
        :nth-child(1){
            background-color: rgb(1, 127, 201)
        }
        :nth-child(2){
            background-color: rgb(251, 149, 59)
        }
        :nth-child(3){
            background-color: rgb(193, 39, 45)
        }
        :nth-child(4){
            background-color: rgb(0, 29, 69)
        }
    }
}
.welcome{
    background-color: rgb(218, 229, 234);
    :nth-child(1){
        :nth-child(1){
            padding-top: 10px;
            padding-bottom: 10px;
        }
        :nth-child(2){
            padding-bottom: 20px;
        }
    }
}