<div class="container-fluid main-head">
  <div class="container d-flex logo-search">
    <div class="logo">
      <img src="../../assets/images/logo-new.png" alt="">
    </div>
    <div class="h-100 d-flex flex-column justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <fieldset class="d-flex">
                <input type="text" class="form-control" placeholder="Поиск по сайту">
                <button class="btn"><i class="fas fa-search" aria-hidden="true"></i></button>
            </fieldset>
        </div>
    </div>
  </div>
  <main-menu></main-menu>
  <div class="container bh">
    <div class="row justify-content-center"><p>МУП ВОДОКАНАЛ</p></div>
    <div class="row justify-content-center"><p>городского округа Наро-Фоминск</p></div>
  </div>
</div>