<div class="d-flex justify-content-center align-items center p-1 warning">ВНИМАНИЕ! Сайт работает в тестовом режиме</div>
<div class="container-fluid main-head">
  <div class="container d-flex logo-search">
    <div class="logo">
      <img src="../../assets/images/logo_vodokanal.png" alt="">
    </div>
    <div class="h-100 d-flex flex-column justify-content-between">
        <div class="d-flex align-items-center justify-content-between">
            <fieldset class="d-flex">
                <input type="text" class="form-control" placeholder="Поиск по сайту" (keydown)="searchBtn($event,srch.value)" #srch>
                <button class="btn" (click)="search(srch.value)"><i class="fas fa-search" aria-hidden="true"></i></button>
            </fieldset>
        </div>
    </div>
  </div>
  <div class="my-sm-2">
    <main-menu></main-menu>
  </div>
  <div class="container d-flex flex-column bh">
    <div>МУП ВОДОКАНАЛ</div>
    <div>го Наро-Фоминск</div>
  </div>
</div>