<h4 class="page-min-head">Тарифы для частных лиц</h4>
<div class="section" *ngFor="let rate of rates">
  <div class="section-header" (click)="show(rate.Name)"><span>{{rateTypes[rate.Name]}}</span><i class="fas " [ngClass]="{'fa-caret-down':!shows[rate.Name], 'fa-caret-up':shows[rate.Name]}"></i></div>
  <div class="section-body" *ngIf="shows[rate.Name]">
    <div class="form-group my-4">
      <label for="years">Год</label>
      <select class="form-control" style="max-width:100px;" id="years" [(ngModel)]="curYears[rate.Name]">
        <option value="{{y}}" *ngFor="let y of years">{{y}}</option>
      </select>
    </div>
    <table class="my-3">
      <thead>
        <td *ngFor="let p of getRate(rate)">{{p.DateStart | date: "dd.MM.yyyy"}} - {{p.DateFinish | date: "dd.MM.yyyy"}}</td>
      </thead>
      <tbody>
        <tr>
          <td *ngFor="let p of getRate(rate)">{{p.Price}}</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
<h4 class="page-min-head mt-3">Документация</h4>
<div class="flex-container my-3">
  <div class="item" *ngFor="let doc of docs">
    <div class="image">
      <a target="blanc" href="{{doc.Document}}"></a>
      <img src="{{doc.Image}}" alt="{{doc.Name}}">
    </div>
    <h5>{{doc.Name}}</h5>
    <small>{{doc.Description}}</small>
  </div>
</div>